<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- blog.title %></title>
    <style>
       body {
            font-family: Arial, sans-serif;
            background-color: #000000;
            margin: 0;
            padding: 0;
        }
        nav {
            background-color: #333;
            color: #fff;
            padding: 10px 20px;
        }
        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
        nav ul li {
            float: left;
        }
        nav ul li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        .search-bar-container {
            display: flex;
            justify-content: end;
            margin: 0 auto;
            flex: 1;
        }
        .search-bar {
            padding: 10px;
            border: none;
            border-radius: 5px;
            width: 450px;
            font-size: 16px;
            padding-left: 10px;
        }
        .search-btn {
            background-color: #333;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            margin-left: -4px;
        }
        .btn{
            background-color: #141414;
            color: #fff;
            border: none;
            padding: 3px 10px;
            border-radius: 5px;
            cursor: pointer;
            margin-left: 10px;
        }
        .blog {
            background-color: #fff;
            max-width: 750px;
            margin: 20px auto;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        .blog img {
            width: 750px;
            height: 750px;
            border-radius: 5px;
            margin-bottom: 10px;
        }
    
        .blog h2 {
            font-size: 2rem;
            margin-bottom: 10px;
        }
        .blog h3 {
            font-size: 1.5rem;
            color: #666;
            margin-bottom: 10px;
        }
        .blog p {
            line-height: 1.6;
            margin-bottom: 15px;
        }
    </style>
</head>
<body>
    <%- include("navbar.ejs") %>

    <div class="blog">
        <img  src="/<%- blog.image %>" alt="Blog Image" >
        <h2><%- blog.title %></h2>
        <h4>-by <%- blog.author?.username %></h4>
        <h3><%- blog.subtitle %></h3>
        <p>
            <%- blog.description %>
        </p>
        <button><a href="/editblog/<%- blog._id  %>"> Edit</a></button>
        <button><a href="/deleteblog/<%- blog._id  %>">Delete</a></button>

    </div>
    
</body>
</html>